<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

  <import resource="SearchIndexer.xml"/>
  <bean class="com.nwinches.resource.TaskResource" scope="request"/>
  <bean id="TaskHandler" class="com.nwinches.business.TaskHandler">
    <property name="taskStore" ref="TaskStore"/>
    <property name="smsNotifier" ref="SmsNotifier"/>
    <property name="searchIndexer" ref="SearchIndexer"/>
  </bean>
  <bean id="TaskStore" class="com.nwinches.dao.InMemoryTaskStore"/>
  <bean id="SmsNotifier" class="com.nwinches.dao.TwilioSmsNotifier"/>

</beans>